body{
  text-align: center;
  background: url("http://41.media.tumblr.com/9b6d3caf851a604d065c7510674b3fd2/tumblr_njay1uxtp01tf8vylo1_500.png");
  background-size: cover;
  
}
h1{
  text-align: center;
  font-size: 50px;
}

.searchBar{
  display: block;
  margin-bottom: 15px;
}

input{
  width: 130px;
  height: 30px;
  font-size: 22px;
  border: 
}

.drink-list {
  column-count: 3;
  padding:0;
  list-style: none; 
  display: inline-block;


}

.drink-list img{
  width:50%;
  height: 50%;
  display: inline-block;
  border-radius: 10%; 

}

.drink-list img:hover {
  filter:blur(1px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: translateX(-5px);
  transform: translateY(-5px);
  transition: box-shadow .5s;
}
/* Modal function style */
#modal {
  background: rgba(0,0,0,0.9);
  height: 100vh;
  width: 100vw;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}

.display-none{
  display: none;
}

.offButton{
  width: 50px;
  position: fixed;
  top: 0;
  right: 0;
}

.additional-data{
  margin: 200px auto; 
  background:rgba(112, 108, 108, 0.58);
  padding: 30px;
  color: white;
}

