body{
  text-align: center;
}
h1{
  text-align: center;
  font-size: 50px;
}

.searchBar{
  display: block;
  margin-bottom: 15px;
}

input{
  align: center;
}

.drink-list {
  column-count: 3;
  padding:0;
  list-style: none; 
  display: inline-block;


}

.drink-list img{
  width:50%;
  height: 50%;
  display: inline-block;
  border-radius: 10%; 

}

.drink-list img:hover {
  filter:blur(1px);
  box-shadow: 5px 5px #3a4242;
  transform: translateX(-5px);
  transform: translateY(-5px);
  transition: box-shadow .5s;
}
/* Modal function style */
#modal {
  background: rgba(0,0,0,0.7);
  height: 100vh;
  width: 100vw;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}

.display-none{
  display: none;
}

.offButton{
  width: 50px;
  position: fixed;
  top: 0;
  right: 0;
}

.additional-data{
  margin: 200px auto; 
  background: blue;
  /* width: 100px;
  height: 100px; */
  padding: 30px;
}

